<h1>
  Users:
  <%= User.count %>
</h1>

<br>

<div style="overflow-x:auto;">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>email</th>
        <th>admin</th>
        <th>roles</th>
        <th>posts</th>
        <th>created posts</th>
        <th>edited posts</th>
        <th>edit roles</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.admin %></td>
          <td><%= user.roles.pluck(:name) %></td>
          <td><%= user.posts.pluck(:id) %></td>
          <td><%= user.created_posts.pluck(:id) %></td>
          <td><%= user.edited_posts.pluck(:id) %></td>
          <td><%= link_to 'edit roles', edit_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>